.idea/*
.gradle/*
*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.checkstyle
cscope.*
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
Thumbs.db
v8.log
vs-chromium-project.txt
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/.vs/
# Visual Studio Code
/.vscode/
/_out
out/gnbuild/gradle/.gradle/*
out/gnbuild/gradle/.idea/*
out/gnbuild/gradle/chrome/android/chrome_public_apk/build/*
out/gnbuild/gradle/base/base_java/build/*
out/gnbuild/gradle/printing/printing_java/build/*
out/gnbuild/gradle/chrome/android/document_tab_model_info_proto_java/build/*
out/gnbuild/gradle/components/minidump_uploader/minidump_uploader_java/build/*
out/gnbuild/gradle/components/payments/payment_request_java/build/*
out/gnbuild/gradle/components/web_contents_delegate_android/web_contents_delegate_android_java/build/*
out/gnbuild/gradle/components/web_restrictions/web_restrictions_java/build/*
out/gnbuild/gradle/device/bluetooth/java/build/*
out/gnbuild/gradle/device/gamepad/java/build/*
out/gnbuild/gradle/device/generic_sensor/java/build/*
out/gnbuild/gradle/device/geolocation/geolocation_java/build/*
out/gnbuild/gradle/device/nfc/mojo_bindings_java/build/*
out/gnbuild/gradle/device/nfc/android/java/build/*
out/gnbuild/gradle/device/power_save_blocker/java/build/*
out/gnbuild/gradle/device/sensors/java/build/*
out/gnbuild/gradle/device/vibration/mojo_bindings_java/build/*
out/gnbuild/gradle/media/midi/midi_java/build/*
out/gnbuild/gradle/mojo/android/system_java/build/*
out/gnbuild/gradle/mojo/common/common_custom_types_java/build/*
out/gnbuild/gradle/net/android/net_java/build/*
out/gnbuild/gradle/services/device/java/build/*
out/gnbuild/gradle/third_party/android_data_chart/android_data_chart_java/build/*
out/gnbuild/gradle/third_party/android_media/android_media_java/build/*
out/gnbuild/gradle/third_party/android_protobuf/protobuf_nano_javalib/build/*
out/gnbuild/gradle/third_party/android_swipe_refresh/android_swipe_refresh_java/build/*
out/gnbuild/gradle/third_party/cacheinvalidation/cacheinvalidation_javalib/build/*
out/gnbuild/gradle/third_party/cacheinvalidation/cacheinvalidation_proto_java/build/*
out/gnbuild/gradle/third_party/custom_tabs_client/custom_tabs_support_java/build/*
out/gnbuild/gradle/third_party/gif_player/gif_player_java/build/*
out/gnbuild/gradle/third_party/jsr-305/jsr_305_javalib/build/*
out/gnbuild/gradle/third_party/leakcanary/leakcanary_noop_java/build/*
out/gnbuild/gradle/ui/accessibility/ui_accessibility_java/build/*
out/gnbuild/gradle/ui/android/ui_java/build/*
out/gnbuild/gradle/url/mojo/url_mojom_gurl_java/build/*
out/gnbuild/gradle/url/mojo/url_mojom_origin_java/build/*
out/gnbuild/gradle/components/autofill/android/autofill_java/build/*
out/gnbuild/gradle/components/gcm_driver/android/gcm_driver_java/build/*
out/gnbuild/gradle/components/invalidation/impl/java/build/*
out/gnbuild/gradle/components/invalidation/impl/proto_java/build/*
out/gnbuild/gradle/components/location/android/location_java/build/*
out/gnbuild/gradle/components/navigation_interception/android/navigation_interception_java/build/*
out/gnbuild/gradle/components/ntp_tiles/android/ntp_tiles_java/build/*
out/gnbuild/gradle/components/policy/android/policy_java/build/*
out/gnbuild/gradle/components/safe_browsing_db/android/safe_browsing_java/build/*
out/gnbuild/gradle/components/precache/android/precache_java/build/*
out/gnbuild/gradle/components/safe_json/android/safe_json_java/build/*
out/gnbuild/gradle/components/sync/android/sync_java/build/*
out/gnbuild/gradle/components/url_formatter/android/url_formatter_java/build/*
out/gnbuild/gradle/components/variations/android/variations_java/build/*
out/gnbuild/gradle/content/public/android/content_java/build/*
out/gnbuild/gradle/device/battery/android/battery_monitor_java/build/*
out/gnbuild/gradle/device/battery/mojo_bindings_java/build/*
out/gnbuild/gradle/device/vibration/android/vibration_manager_java/build/*
out/gnbuild/gradle/media/base/android/media_java/build/*
out/gnbuild/gradle/mojo/public/java/bindings_java/build/*
out/gnbuild/gradle/mojo/public/java/system_java/build/*
out/gnbuild/gradle/third_party/WebKit/public/android_mojo_bindings_java/build/*
out/gnbuild/gradle/third_party/WebKit/public/blink_headers_java/build/*
out/gnbuild/gradle/third_party/WebKit/public/mojo_bindings_java/build/*
out/gnbuild/gradle/ui/base/mojo/mojo_bindings_java/build/*
out/gnbuild/gradle/components/bookmarks/common/android/bookmarks_java/build/*
out/gnbuild/gradle/components/dom_distiller/core/android/dom_distiller_core_java/build/*
out/gnbuild/gradle/components/gcm_driver/instance_id/android/instance_id_driver_java/build/*
out/gnbuild/gradle/components/spellcheck/browser/android/java/build/*
out/gnbuild/gradle/device/bluetooth/public/interfaces/interfaces_java/build/*
out/gnbuild/gradle/device/generic_sensor/public/interfaces/interfaces_java/build/*
out/gnbuild/gradle/media/capture/content/android/screen_capture_java/build/*
out/gnbuild/gradle/media/capture/video/android/capture_java/build/*
out/gnbuild/gradle/services/service_manager/public/interfaces/constants_java/build/*
out/gnbuild/gradle/services/service_manager/public/interfaces/interfaces_java/build/*
out/gnbuild/gradle/services/service_manager/public/java/service_manager_java/build/*
out/gnbuild/gradle/services/shape_detection/public/interfaces/interfaces_java/build/*
out/gnbuild/gradle/ui/gfx/geometry/mojo/mojo_java/build/*
out/gnbuild/gradle/chrome/android/webapk/libs/client/client_java/build/*
out/gnbuild/gradle/chrome/android/webapk/libs/common/common_java/build/*
out/gnbuild/gradle/chrome/android/webapk/libs/runtime_library/webapk_service_aidl_java/build/*
out/gnbuild/gradle/components/dom_distiller/content/browser/android/dom_distiller_content_java/build/*
out/gnbuild/gradle/components/signin/core/browser/android/java/build/*
out/gnbuild/gradle/device/usb/java/build/*
